---
import BaseLayout from "@layouts/BaseLayout.astro";
import LinkButton from "@components/LinkButton.astro";
import JourneyCardGrid from "@components/JourneyCardGrid.astro";
import type { ImageData } from "@components/ImageGrid.astro";
import type { JourneyCardData } from "@components/JourneyCard.astro";
import ImageGrid from "@components/ImageGrid.astro";

interface Props {
  title: string;
  backHref: string;
  nextHref?: string;
  decisions?: JourneyCardData[];
  images?: ImageData[];
}

const { title, backHref, nextHref, decisions, images } = Astro.props;

const journeys: JourneyCardData[] | undefined =
  decisions?.map(({ title, description, href }) => ({
    title,
    description,
    href,
    buttonText: "Select",
  })) ?? undefined;
---

<BaseLayout {title}>
  <div class="space-y-6 pb-6 text-xl lg:space-y-10 lg:pb-10 lg:text-3xl">
    <slot />

    {images && <ImageGrid images={images} />}

    {journeys && <JourneyCardGrid {journeys} />}

    <div class="flex justify-between">
      <div class="shadow-lg">
        <LinkButton variant="secondary" text="Back" href={backHref} />
      </div>

      {
        nextHref && (
          <div class="shadow-lg">
            <LinkButton variant="primary" text="Next" href={nextHref} />
          </div>
        )
      }
    </div>
  </div>
</BaseLayout>
