---
import BaseLayout from "@layouts/BaseLayout.astro";
import LinkButton from "@components/LinkButton.astro";
import ImageGrid from "@components/ImageGrid.astro";
import type { JourneyLayoutData } from "src/types";

interface Props extends JourneyLayoutData {}

const { title, paragraphs, nextHref, decisions, images } = Astro.props;
---

<BaseLayout {title}>
  <div class="space-y-6 pb-6 text-xl lg:space-y-10 lg:pb-10 lg:text-3xl">
    <slot name="before-paragraphs" />

    {paragraphs?.map((paragraph) => <p>{paragraph}</p>)}

    <slot name="before-images" />

    {images && <ImageGrid images={images} />}

    <slot name="before-decisions" />

    {
      decisions &&
        decisions.map(({ href, buttonText: text }) => (
          <div class="flex">
            <LinkButton variant="primary" {text} {href} />
          </div>
        ))
    }

    <slot name="before-buttons" />

    <div class="flex justify-between">
      <div id="layout-back" class="shadow-lg">
        <LinkButton
          variant="secondary"
          text="Back"
          href="javascript:undefined"
        />
      </div>

      {
        nextHref && (
          <div class="shadow-lg">
            <LinkButton variant="primary" text="Next" href={nextHref} />
          </div>
        )
      }
    </div>

    <slot name="after-buttons" />
  </div>
</BaseLayout>

<script is:inline>
  document.getElementById("layout-back").addEventListener("click", function () {
    window.history.back();
  });
</script>
