---
import BaseLayout from "@layouts/BaseLayout.astro";
import LinkButton from "@components/LinkButton.astro";
import JourneyCardGrid from "@components/JourneyCardGrid.astro";
import ImageGrid from "@components/ImageGrid.astro";
import type { JourneyCardData, JourneyLayoutData } from "src/types";

interface Props extends JourneyLayoutData {}

const { title, backHref, paragraphs, nextHref, decisions, images } =
  Astro.props;

const journeys: JourneyCardData[] | undefined =
  decisions?.map(({ title, description, href }) => ({
    title,
    description,
    href,
    buttonText: "Select",
  })) ?? undefined;
---

<BaseLayout {title}>
  <div class="space-y-6 pb-6 text-xl lg:space-y-10 lg:pb-10 lg:text-3xl">
    <slot name="before-paragraphs" />

    {paragraphs?.map((paragraph) => <p>{paragraph}</p>)}

    <slot name="before-images" />

    {images && <ImageGrid images={images} />}

    <slot name="before-cards" />

    {journeys && <JourneyCardGrid {journeys} />}

    <slot name="before-buttons" />

    <div class="flex justify-between">
      <div class="shadow-lg">
        <LinkButton variant="secondary" text="Back" href={backHref} />
      </div>

      {
        nextHref && (
          <div class="shadow-lg">
            <LinkButton variant="primary" text="Next" href={nextHref} />
          </div>
        )
      }
    </div>

    <slot name="after-buttons" />
  </div>
</BaseLayout>
